// -Body
    $bgColor: #252830 !default;

$primaryColor: #ffffff !default;
$successColor: #1BC98E !default;
$dangerColor: #E64759 !default;
$lightColor: #9F86FF !default;
$warningColor: #E4D836 !default;

$colorDisabled: #51586a !default;

$opacityColor: .8 !default;