<header [class.mobile]="mobile">
  <aside class="logo">
  </aside>
  <nav>
    <a routerLinkActive="actual" routerLink="/User/Dashboard" [routerLinkActiveOptions]="{exact:true}">
      <i class="fas fa-wallet"></i><span>Resumen</span>
    </a>
    <a routerLinkActive="actual" routerLink="/User/Dashboard/1">
      <i class="fas fa-piggy-bank"></i><span>Ahorros</span>
    </a>
    <a routerLinkActive="actual" routerLink="/User/Dashboard/2">
      <i class="fas fa-shopping-bag"></i><span>Bolsillo</span>
    </a>
  </nav>
</header>
<section class="content">
  <router-outlet></router-outlet>
</section>