<header [class.mobile]="mobile">
  <aside class="logo">
  </aside>
  <nav>
    <a routerLinkActive="actual" routerLink="/User/Dashboard" [routerLinkActiveOptions]="{exact:true}">
      <i class="fas fa-wallet"></i><span>Resumen</span>
    </a>
    <a *ngFor="let account of encapsulates.accounts" routerLinkActive="actual" routerLink="/User/Dashboard/{{account.id}}">
      <i [ngClass]="account.icon"></i><span>{{account.name}}</span>
    </a>
  </nav>
</header>
<section class="content" [class.mobile]="mobile">
  <router-outlet></router-outlet>
</section>