section.content{
    position: absolute;
    left: 0;
    right: 0;
    overflow: auto;

    &.mobile{
        top: 0;
        bottom: 3.5rem;
        margin: 1rem;
    }

    &:not(.mobile){
        top: 3.5rem;
        bottom: 0;
        margin: 0 3.5rem;
    }
}